@import "tailwindcss";

@import "./themes.css";
@plugin "daisyui" {
  themes: genshin, genshin_dark, FURINA, WRIOTHESLEY, NEUVILLETTE, CHARLOTTE, LYNEY, LYNETTE, FREMINET, NAVIA, CLORINDE, EMILIE, SIGEWINNE, ARLECCHINO, CHIORI, SETHOS, XILONEN, KINICH, KACHINA, ORORON, CHASCA, MAVUIKA, light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter;
}

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'GS', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --aspect-ratio-2\/3: 2 / 3;
  --aspect-ratio-5\/8: 5 / 8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'GS';
  src: url("assets/fonts/shii-webfont.woff2") format("woff2");
}
